# Путь к модели визуального языкового модуля (VLM)
VLM_MODEL_PATH=/abs/path/to/vlm_model

# Путь к директории с insightface моделями
INSIGHTFACE_ROOT=/abs/path/to/insightface

EMBEDDING_SIZE=512

# Сколько лиц можно добавить за одну операцию
MAX_FACES_FOR_ADD=1

# Сколько лиц можно сравнивать одновременно
MAX_FACES_FOR_CHECK=8